<p>Dziękujemy za rezerwację wycieczki w biurze Meadowlark Travel, {{cart.billing.name}}!</p>
<p>Rezerwacja ma numer {{cart.number}}, a pod adres 
{{cart.billing.email}} wysłaliśmy e-mail z potwierdzeniem.</p>
